azure-core==1.35.0
azure-cosmos==4.9.0
azure-functions==1.23.0
azure-storage-blob==12.26.0
defusedxml==0.7.1
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
sendgrid==6.12.4
xmldict==0.4.1
xmljson==0.2.1
xmlschema==4.1.0
xmltodict==0.14.2