azure-core==1.41.0
azure-cosmos==4.16.1
azure-functions==2.1.0
azure-storage-blob==12.30.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
defusedxml==0.7.1
elementpath==5.1.3
idna==3.18
iniconfig==2.3.0
isodate==0.7.2
MarkupSafe==3.0.3
packaging==26.2
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.34.2
six==1.17.0
typing_extensions==4.15.0
urllib3==2.7.0
Werkzeug==3.1.8
xmldict==0.4.1
xmljson==0.2.1
xmlschema==4.3.1
xmltodict==1.0.4